  <div class="my-28 flex justify-center">
    <div class="flex h-[23rem] w-[40rem] flex-row bg-slate-900 shadow-xl">
      <div class="mx-10 flex flex-col h-full w-2/4 items-center justify-center border-r-[1px] border-gray-500">
        <span class="mr-11 text-4xl text-white">Bem vindo!</span>
        <img class="mr-8 w-40" src="/bdetec/img/totodile-3420943178.gif" />
      </div>
  
      <div class="flex w-2/4 flex-col mt-44">
        <a href="./pages/pagLogin.php" class="mr-11 w-3/4 self-center  bg-blue-900 py-1 text-center text-2xl text-white hover:bg-blue-800 transition-all">Conectar-se</a>
  
        <div class="ml-5">
          <span class="text-xs text-gray-400">Não possui uma conta?</span>
          <a href="./pages/pagCadastro.php" class="text-xs text-blue-300 underline hover:cursor-pointer">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
  